.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.right {
    justify-content: flex-end;
  }

  &.centered {
    justify-content: center;
  }
}

.list-item {
  margin: 0.75rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
