@import "~@aoeu/sass-common/modules/colors";

header {
  background: var(--color-aoeu-blue);
  padding: 2rem;

  .container {
    display: flex;
    justify-content: center;
  }

  a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
  }

  .aoeu-logo {
    margin-bottom: 1rem;
    fill: var(--color-aoeu-athens-gray);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
  }
}
