:root {
  --color-white: #fff;
  --color-gray: #9a9a9a;
  --color-gray-svg-filter: invert(78%) sepia(0%) saturate(21%) hue-rotate(145deg) brightness(79%) contrast(85%);
  --color-gray-light: #b6b6b6;
  --color-gray-lighter: #d1d1d1;
  --color-gray-lightest: #ededed;
  --color-gray-lightest-50: rgba(237, 237, 237, 0.5);
  --color-gray-lightest-75: rgba(237, 237, 237, 0.75);
  --color-gray-lightest-90: rgba(237, 237, 237, 0.90);
  --color-aoeu-blue: #00b2dc;
  --color-aoeu-link: #149fcd;
  --color-aoeu-link-hover: #0d6886;
  --color-aoeu-block-text: #39545A;
}
